In [127]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
Jobs = pd.read_csv('JobPrueba.csv', sep=';', error_bad_lines=False, encoding="latin-1")
Jobs.columns = ['Job_Id', 'profesion','Conocimientos','Funciones']

users = pd.read_csv('UserPrueba.csv', sep=';', error_bad_lines=False, encoding="latin-1")
users.columns = ['User_Id', 'Profesion', 'Conocimientos','Funciones']

ratings = pd.read_csv('JOB_RATING1.csv', sep=';', error_bad_lines=False, encoding="latin-1")
ratings.columns = ['User_Id', 'Job_Id','Peso']

In [128]:
combine_Jobs_rating = pd.merge(ratings, Jobs, on='Job_Id')
columns = []
combine_Jobs_rating = combine_Jobs_rating.drop(columns, axis=1)
combine_Jobs_rating.head()

,User_Id,Job_Id,Peso,profesion,Conocimientos,Funciones
0,0,1,24006.071,TÃ©cnico en Soporte,Microsoft Excel,Desarrollar soluciones a los temas crÃ­ticos p...
1,1,1,12084.457,TÃ©cnico en Soporte,Microsoft Excel,Desarrollar soluciones a los temas crÃ­ticos p...
2,3,1,24506.664,TÃ©cnico en Soporte,Microsoft Excel,Desarrollar soluciones a los temas crÃ­ticos p...
3,4,1,25006.533,TÃ©cnico en Soporte,Microsoft Excel,Desarrollar soluciones a los temas crÃ­ticos p...
4,6,1,12579.143,TÃ©cnico en Soporte,Microsoft Excel,Desarrollar soluciones a los temas crÃ­ticos p...

In [129]:
combine_Jobs_rating = combine_Jobs_rating.dropna(axis = 0, subset = ['profesion'])

Jobs_ratingCount = (combine_Jobs_rating.
     groupby(by = ['profesion'])['Peso'].
     count().
     reset_index().
     rename(columns = {'Peso': 'PromedioRating'})
     [['profesion', 'PromedioRating']]
    )
Jobs_ratingCount.head()

                                           profesion  PromedioRating
0  Asistente Contable TÃ©cnico o Universitario Eg...              10
1                 Auxiliar Contable y Administrativo               7
2                                         Chofer A2B               6
3                                Jefe de ProducciÃ³n               9
4               Practicante de AdministraciÃ³n Apoyo               9

In [130]:
rating_with_totalRatingCount = combine_Jobs_rating.merge(Jobs_ratingCount, left_on = 'profesion', right_on = 'profesion', how = 'left')
rating_with_totalRatingCount.head()

,User_Id,Job_Id,Peso,profesion,Conocimientos,Funciones,PromedioRating
0,0,1,24006.071,TÃ©cnico en Soporte,Microsoft Excel,Desarrollar soluciones a los temas crÃ­ticos p...,6
1,1,1,12084.457,TÃ©cnico en Soporte,Microsoft Excel,Desarrollar soluciones a los temas crÃ­ticos p...,6
2,3,1,24506.664,TÃ©cnico en Soporte,Microsoft Excel,Desarrollar soluciones a los temas crÃ­ticos p...,6
3,4,1,25006.533,TÃ©cnico en Soporte,Microsoft Excel,Desarrollar soluciones a los temas crÃ­ticos p...,6
4,6,1,12579.143,TÃ©cnico en Soporte,Microsoft Excel,Desarrollar soluciones a los temas crÃ­ticos p...,6

In [131]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)
print(book_ratingCount['PromedioRating'].describe())

count    9.000
mean     8.444
std      1.667
min      6.000
25%      7.000
50%      9.000
75%     10.000
max     10.000
Name: PromedioRating, dtype: float64

In [132]:
print(book_ratingCount['PromedioRating'].quantile(np.arange(.9, 1, .01)))

0.900   10.000
0.910   10.000
0.920   10.000
0.930   10.000
0.940   10.000
0.950   10.000
0.960   10.000
0.970   10.000
0.980   10.000
0.990   10.000
Name: PromedioRating, dtype: float64

In [133]:
popularity_threshold = 10
rating_popular_Jobs = rating_with_totalRatingCount.query('PromedioRating >= @popularity_threshold')
rating_popular_Jobs.head()

,User_Id,Job_Id,Peso,profesion,Conocimientos,Funciones,PromedioRating
6,0,2,6005.638,Vendedores rotativos para tiendas Baby Infanti...,php,No hay experiencia,10
7,1,2,4030.533,Vendedores rotativos para tiendas Baby Infanti...,php,No hay experiencia,10
8,2,2,8135.930,Vendedores rotativos para tiendas Baby Infanti...,php,No hay experiencia,10
9,3,2,3507.858,Vendedores rotativos para tiendas Baby Infanti...,php,No hay experiencia,10
10,4,2,8337.708,Vendedores rotativos para tiendas Baby Infanti...,php,No hay experiencia,10

In [109]:
from scipy.sparse import csr_matrix

In [134]:
user_rating = rating_popular_Jobs.drop_duplicates(['User_Id', 'profesion'])
rating_pivot = rating_popular_Jobs.pivot(index = 'profesion', columns = 'User_Id', values = 'Peso').fillna(0)
rating_matrix = csr_matrix(rating_pivot.values)

In [135]:
print rating_matrix

  (0, 0)	4808.245367
  (0, 1)	1730.3719190000002
  (0, 2)	6103.869859
  (0, 3)	3078.713604
  (0, 4)	5004.267611
  (0, 5)	8357.814656
  (0, 6)	2299.786695
  (0, 7)	25704.45497
  (0, 8)	5146.4311689999995
  (0, 9)	25775.23729
  (1, 0)	4824.5048289999995
  (1, 1)	3480.1978240000003
  (1, 2)	8145.451023999999
  (1, 3)	4155.304536
  (1, 4)	4174.791875
  (1, 5)	12548.25741
  (1, 6)	4271.258686
  (1, 7)	5142.313979
  (1, 8)	4294.822217
  (1, 9)	25777.43452
  (2, 0)	6005.637606
  (2, 1)	4030.5328229999996
  (2, 2)	8135.929717
  (2, 3)	3507.8576
  (2, 4)	8337.708174
  (2, 5)	12532.87684
  (2, 6)	3601.641536
  (2, 7)	25703.356359999998
  (2, 8)	8575.283952
  (2, 9)	25774.13868

In [136]:
from sklearn.neighbors import NearestNeighbors

In [137]:
model_knn = NearestNeighbors(metric = 'cosine', algorithm = 'brute')
model_knn.fit(rating_matrix)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='cosine',
         metric_params=None, n_jobs=1, n_neighbors=5, p=2, radius=1.0)

In [138]:
query_index = np.random.choice(rating_pivot.shape[0])
distances, indices = model_knn.kneighbors(rating_pivot.iloc[query_index, :].values.reshape(1, -1), n_neighbors = 3)

for i in range(0, len(distances.flatten())):
    if i == 0:
        print('Recommendations for {0}:\n'.format(rating_pivot.index[query_index]))
    else:
        print('{0}: {1}, with distance of {2}:'.format(i, rating_pivot.index[indices.flatten()[i]], distances.flatten()[i]))

Recommendations for Vendedores rotativos para tiendas Baby Infanti y Lego:

UnicodeEncodeError: 'ascii' codec can't encode characters in position 20-21: ordinal not in range(128)